/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";

        keys {
            key-0 { matrix = <0 0>; };
            key-1 { matrix = <0 1>; };
            key-2 { matrix = <0 2>; };
            key-3 { matrix = <1 0>; };
            key-4 { matrix = <1 1>; };
            key-5 { matrix = <1 2>; };
        };
    };
};

&physical_layout0 {
    kscan = <&kscan>;
    transform = <&matrix_transform>;
};
